/* importing google fonts */
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Lisu+Bosa:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

/* Content for the home page */
.home-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.home-title {
    font-size: 70px;
    padding: 90px 0 0 0;
    color: #609EFD;
    font-family: 'Lisu Bosa', serif;
}

p {
    font-size: 24px;
    padding: 10px 0 0 0;
    font-family: 'Lisu Bosa', serif;
    margin-bottom: 50px;
}

#hero-image {
    background-image: url('../images/sydney.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 300px;
    position: absolute;
    bottom: 0;
}

/* button to start the quiz*/
#start-btn {
    width: 190px;
    height: 40px;
    border: 1px solid #609EFD;
    font-size: 18px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 7px #609EFD;
    font-weight: bold;
    letter-spacing: 2px;
}

#start-btn:hover {
    background: #609EFD;
    color: white;
}

/* Content for the rule box*/
.rules-box {
    margin: 0 auto;
    width: 500px;
    background: #FFFF;
    border-radius: 10px;
    padding: 12px;
    border: 1px solid #B90C0C;
    box-shadow: 0 0 15px #B90C0C;
    margin-top: 150px;
    display: none;
}

/* Rules heading styling*/
.rules-box h1 {
    font-size: 48px;
    color: #B90C0C;
    font-family: 'arial';
}

/* Positioning of the rules list*/
.rules {
    display: inline-block;
    font-size: 18px;
    margin: 6px;
}

/* Rules box buttons positioning and styling*/
.btn-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #3066D2;
    margin-top: 10px;
    padding: 11px 0 5px;
}

.btn-group .buttons {
    width: 100px;
    height: 30px;
    border-radius: 3px;
    letter-spacing: 1px;
    border: 1px solid #B90C0C;
}

.buttons:hover {
    border: 2px solid #3066D2;
}

/* Content for the Quiz box*/

.quiz-game {
    margin: 0 auto;
    width: 500px;
    height: 400px;
    background: #FFFF;
    border-radius: 10px;
    padding: 12px;
    border: 1px solid #B90C0C;
    box-shadow: 0 0 15px #B90C0C;
    margin-top: 70px;
}

h2 {
    font-size: 30px;
    color: #000000 font-family: 'arial';
}

h3 {
    font-size: 25px;
    color: #B90C0C;
    font-family: 'arial';
}

header{
    border-bottom: 1px solid #3066D2;
}