/* importing google fonts */
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Lisu+Bosa:wght@200&display=swap");

* {
  margin: 0;
  padding: 0;
  border: none;
}

body {
  background: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

/* Content for the home page */
.home-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Lisu Bosa", serif;
  text-align: center;
  padding: 60px 20px 30px 20px;
  border-radius: 10px;
  background-color: rgb(223, 233, 255);
  box-shadow: 0 0 10px #000000;
  min-width: 200px;
  width: 80vw;
  max-width: 1000px;

}

.home-title {
  font-size: 70px;
}

#sub-heading {
  font-size: 35px;
  padding: 15px 0 0 0;
  margin-bottom: 30px;
}

/* Content for the rule box*/
#rules-box {
  margin: 0 auto;
  min-width: 200px;
  width: 80vw;
  max-width: 800px;
  background: white;
  border-radius: 10px;
  padding: 12px;
  border: 1px solid #000000;
  box-shadow: 0 0 10px #000000;
}

/* Rules heading styling*/
#rules-box h1 {
  font-size: 48px;
  color: #3066d2;
  font-family: "arial";
}

/* Positioning of the rules list*/
.rules {
  display: inline-block;
  font-size: 18px;
  margin: 6px;
}

/* Rules box buttons positioning and styling*/
.btn-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #3066d2;
  margin-top: 10px;
  padding: 11px 0 5px;
}

.btn-group .buttons {
  width: 100px;
  height: 30px;
  border-radius: 3px;
  letter-spacing: 1px;
  border: 1px solid #3066d2;
  box-shadow: 0 0 2px #3066d2;
  cursor: pointer;
  color: black;
}

.buttons:hover {
  border: 2px solid #000000;
  box-shadow: none;
}

.link-btn {
  width: 130px;
  height: 38px;
  background: #b90c0c;
  border-radius: 10px;
  box-shadow: 0 0 10px black;
  padding-top: 20px;
}

.link-btn a {
  text-decoration: none;
  font-size: 18px;
  color: white;
  font-weight: bold;
  letter-spacing: 2px;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
}

.link-btn:hover {
  background: #3066d2;
  color: white;
}

.quiz-box {
  min-width: 200px;
  width: 60vw;
  max-width: 800px;
  background: #ffff;
  border-radius: 10px;
  padding: 12px;
  border: 1px solid #000000;
  box-shadow: 0 0 15px #000000;
}

h2 {
  font-size: 30px;
  color: #000000;
  font-family: "arial";
}

h3 {
  font-size: 25px;
  color: #b90c0c;
  font-family: "arial";
  text-align: center;
}

header {
  border-bottom: 1px solid #3066d2;
  display: flex;
  justify-content: space-between;
  height: 60px;
}

/* Style and positioning for the timer in Quiz*/
#countdown-timer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90px;
  height: 30px;
  background: #b90c0c;
  color: white;
  border: 1px solid black;
  border-radius: 6px;
  padding: 0 8px;
  user-select: none;
  text-align: center;
  font-weight: 600;
}

.quiz {
  padding: 18px 0;
  text-align: center;
}

/* Answers for the questions*/
.answer-btn {
  background: #ffff;
  min-width: 150px;
  width: 50vw;
  max-width: 600px;
  border: 3px solid #b90c0c;
  border-block-color: #3066d2;
  writing-mode: horizontal-tb;
  border-radius: 4px;
  padding: 10px;
  margin: 10px 0;
  text-align: left;
  cursor: pointer;
  transition: all 0.3s;
  font-size: 16px;
  color: black;
}

.answer-btn:hover {
  background-color: #003fbe;
  color: #ffff;
  border: solid 3px #000000;
}

.answer-btn.correct {
  background: rgb(123, 209, 123);
  border: 2px solid black;
  color: black;
}

.answer-btn.incorrect {
  background: rgb(255, 124, 124);
  border: 2px solid black;
  color: black;
}

/*Next button*/
#next-btn {
  color: black;
  border: 1px solid black;
  box-shadow: 0 0 2px black;
  width: 90px;
  border-radius: 7px;
  padding: 8px;
  margin: 5px auto 0;
  font-size: 17px;
  cursor: pointer;
  text-align: center;
  background: rgb(241, 241, 241);
}

#next-btn:hover {
  background: #003fbe;
  color: white;
}

/*Positioning of the countdown for the questions*/
.counter span {
  display: flex;
  text-align: left;
  column-gap: 10px;
  user-select: none;
  margin-top: 15px;
  font-size: 17px;
}

.counter p {
  font-weight: 900;
}

/* Content for the Feedback box*/
.feedback-box {
  min-width: 200px;
  width: 60vw;
  max-width: 800px;
  background: #ffff;
  border-radius: 10px;
  padding: 12px;
  border: 1px solid #b90c0c;
  box-shadow: 0 0 15px #b90c0c;
}

.feedback-icon {
  margin: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#feedback-exit {
    color: rgb(255, 255, 255);
    border: 10px solid #003fbe;
    font-weight: bold;
    box-shadow: 0 0 8px black;
    width: 97px;
    border-radius: 7px;
    padding: 8px;
    margin: 5px auto 0;
    cursor: pointer;
    text-align: center;
    background: #003fbe;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

#feedback-exit:hover{
    box-shadow: 0 0 15px black;
}

/* Hides content when needed*/
.hide {
  display: none;
}

/* Media queries*/

/* For medium screens size from 820px to 1300px */
@media (max-width: 700px) {
    .home-title {
        font-size: 50px;
    }

    #sub-heading {
        font-size: 25px;
    }

}
